.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .searchBarWrapper {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #42424220;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 40%;
      height: 30px;
      border: 1px solid #42424240;
      border-radius: 4px;
      padding-left: 10px;
    }
  }
}

.cardsWrapper {
  background: #F5F5F5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  height: 100%;
}

.actionBtn {
  background: #F5F5F5;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 10px;
  
  .btn {
    cursor: pointer;
    color: #424242;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .active {
    background: #42424220;
    border-radius: 50%;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.mycard {
  border-radius: 4px;
  height: 210px;
  background: #54acf6;
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  color: #fff;
  margin: 10px;
  max-width: 220px;

  .myavatar {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    object-fit: cover;
  }

  .name {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
}

.supportWrapper {
  padding: 10px;

  a {
    margin-left: 10px;
    cursor: pointer;
    color: #54acf6;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .mycard {
    min-width: 20%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .mycard {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .mycard {
    width: 100%;
  }
}